.App {
  text-align: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #071d2b;
  color: white;
}
.grid-container {
  display: grid;
  grid-template-rows: 1fr 5fr;
  grid-template-areas: 
    "navbar"
    "body";
  gap: 70px;
}

.navbar { 
  grid-area: navbar; 
}

.body { 
  grid-area: body; 
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-areas:
    ". centerBody centerBody centerBody centerBody centerBody centerBody .";
  gap: 5px;
}

.centerBody {
  grid-area: centerBody;
}
/* to have all images scale accordingly to their grid containers */
img {
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
}