.App {
  height: 100%;
  width: 100%;
  color: #1A1A1A;
  font-family: "Raleway", sans-serif;
  line-height: 2.0;
  display: grid;
  grid-template-rows: 1fr 7fr;
  grid-template-areas: 
    "navbar"
    "body";
  gap: 50px;
}
h1, h2 {
  word-spacing: 5px;
  letter-spacing: 2px;
}

.App__navbar { 
  grid-area: navbar; 
  margin: 0 auto;
  background-color: #00A5CF;
  width: 95%;
}

.App__body { 
  grid-area: body; 
  display: grid;
  grid-template-columns: 1fr 12fr 1fr;
  grid-template-areas:
    ". center .";
}

.App__center {
  grid-area: center;
}
/* to have all images scale accordingly to their grid containers */
/* img {
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
} */