.App {
  text-align: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: #1A1A1A;
  font-family: "Raleway", sans-serif;
  line-height: 2.0;
}
h1 {
  word-spacing: 5px;
  letter-spacing: 2px;
}
.grid-container {
  display: grid;
  grid-template-rows: 1fr 7fr;
  grid-template-areas: 
    "navbar"
    "body";
  gap: 70px;
}

.navbar { 
  grid-area: navbar; 
  margin: 0 auto;
  background-color: #00A5CF;
  width: 95%;
}

.body { 
  grid-area: body; 
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-areas:
    ". centerBody centerBody centerBody centerBody centerBody centerBody .";
  gap: 5px;
}

.centerBody {
  grid-area: centerBody;
}
/* to have all images scale accordingly to their grid containers */
img {
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
}