.two-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "pic aboutMeText";
  gap: 2.5%;
}
.pic {
  grid-area: pic;
}
.aboutMeText {
  grid-area: aboutMeText;
}