/* passed from SkillBox.js */
.lineArrow, .lineArrow--fold {
  display: flex;
  position: relative;
}

.lineArrow__leftline, .lineArrow__rightline {
  position: absolute;
  width: 14px;
  height: 4px;
  border-radius: 25px 25px 25px 25px;
  background-color: #1A1A1A;
  transition: transform .8s;
}

.lineArrow__leftline {
  transform: rotate(45deg);
  right: -3px;
}
.lineArrow__rightline {
  transform: rotate(-45deg);
  left: -3px;
}

.lineArrow--fold > .lineArrow__leftline, .lineArrow--fold > .lineArrow__rightline {
  transform: rotate(0);
}
