.parallelogram {
  background: var(--dark-green-color);
  box-shadow: 0px 0px 3px 3px var(--dark-green-color);
  /* background: var(--green-color); */
  /* border-radius: 2px; */
  /* border-bottom: solid var(--orange-color); */
  /* box-shadow: 0px 0px 5px 2px rgba(117, 209, 123, 1); */
  /* color: var(--orange-color); */
  color: white;
  height: 40px;
  padding-left: 40px;
  transform: skew(-15deg);
  width: 150px;
}

.parallelogram > * {
  transform: skew(15deg);
}
