.navHeader {
  color: var(--grey-color) !important;
  position: fixed;
  top: var(--nav-header-top-spacing);
  left: var(--nav-header-left-spacing);
  text-decoration: none;
}

.navHeader > h3 {
  font-size: 8rem;
  margin: 0;
}
