.hexagonWrapper {
  position: relative;
  /* same width as hexagon */
  width: 194.53px;
}

.hexagon {
  color: var(--red-color);
  font-size: 1500%;
  position: relative;
}

/* black triangle within hexagon */
.hexagon:before {
  border-top: 30px solid var(--black-color);
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  content: "";
  left: 39.5%;
  top: 64%;
  position: absolute;
  width: 0;
}

/* black triangle within hexagon */
.hexagon:after {
  border-bottom: 30px solid var(--black-color);
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  content: "";
  left: 39.5%;
  top: 24%;
  position: absolute;
  width: 0;
}

.textInHexagon {
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
