.big-font-size {
  	font-size: 200%;
}
.bigger-font-size {
	font-size: 300%;
}
body {
	background-image: url(../img/topography.png);
	background-color: #cccccc;
	font-family: 'Lora', serif;
}
.underline {
  border-bottom: 1px solid white;
}
.fell-english-font {
	font-family: 'IM Fell English', serif;
	font-size: 80%;
}
.wrapper {
  	position: relative;
  	padding: 0;
  	width: 100px;
  	display: block;
}
.absolute {
	position: absolute;
}
.connect-image {
	width: 60px;
	margin-right: 30px;
	height: auto;
}
.profImage,
.connect-image {
	-webkit-transition: all 1s ease; /* Safari and Chrome */
	-moz-transition: all 1s ease; /* Firefox */
	-o-transition: all 1s ease; /* IE 9 */
	-ms-transition: all 1s ease; /* Opera */
	transition: all 1s ease;
}
.profImage:hover,
.connect-image:hover {
	-webkit-transform:scale(1.05); /* Safari and Chrome */
  	-moz-transform:scale(1.05); /* Firefox */
  	-ms-transform:scale(1.05); /* IE 9 */
  	-o-transform:scale(1.05); /* Opera */
  	transform:scale(1.05);
}
.profImage {
	height: 100%; 
  	width: 100%;
  	border-radius: 15px 50px;
  	border: 14px solid #17A2B8;
}

.white {
	background-color: white;
}
.card {
	height: 200px; 
}
.imageSmall {
	width: 60%;
	height: 80%;
}
.triangle-up {
	margin-right: 20px;
	width: 0;
	height: 0;
	border-left: 1450px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 50px solid #555;
}
#row2:before {
	content: '';
    position: absolute;
    display: block;
    left: -25px;
    top: 0;
    bottom: 0;
    width: 25px;
    height: 100%;
    background: #007bff;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 50%);
    clip-path: polygon(100% 0, 100% 100%, 0 50%);
}
