@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.aboutSection {
  width: 70%;
}

.fadeIn {
  animation: fadeIn ease var(--fade-time);
}

.fadeOut {
  animation: fadeOut ease 0.5s;
}

.aboutHeader {
  margin: 0;
  text-decoration: underline;
}
