/* remove bullets from list */
/* put space between nav components */

.navBar > ul {
  display: grid;
  flex-direction: column;
  height: 200px;
  list-style-type: none;
  margin: 0;
}

/* Remove underline for links */
.navBar > ul > li > a {
  text-decoration: none;
}

/* Remove margining from header tags within label */
.navBarLabel > h3,
.navBarLabel > h6 {
  color: var(--white-color);
  margin: 0;
}

.navBarLabel > h6 {
  margin-left: 2em;
  color: grey;
}

/* START OF SHOW/HIDE LINK */
/* desc: show/hide link by using visibility and opacity CSS properties with transition property */
/* ================================================== */
.showLink,
.hideLink {
  transition: visibility 0.3s linear, opacity 0.3s linear;
}

.showLink {
  opacity: 1;
  visibility: visible;
}

.hideLink {
  opacity: 0;
  visibility: hidden;
}

/* ================================================== */
/* END OF SHOW/HIDE LINK */
