/* remove bullets from list */
/* put space between nav components */

.navBar {
  width: 0;
}

.navBar > ul {
  display: grid;
  flex-direction: column;
  height: 250px;
  list-style-type: none;
  margin: 0;
  /* commented out but can be useful if needing to move to left */
  /* margin-left: -10px; */
  padding-left: 0;
}

/* Remove underline for links */
.navBar > ul > li > a {
  text-decoration: none;
}

.navBarLabel {
  position: relative;
  transition: font-size 0.5s ease;
}

.navBarLabel:hover {
  font-size: 1.1em;
}

/* Remove margining from header tags within label */
.greyBigHeader,
.whiteBigHeader,
.showSmallHeader,
.hideSmallHeader {
  color: var(--white-color);
  margin: 0;
}

.greyBigHeader,
.whiteBigHeader {
  transition: color 0.6s ease;
}

.greyBigHeader {
  color: var(--grey-color);
}

.whiteBigHeader {
  color: var(--white-color);
}

.showSmallHeader,
.hideSmallHeader {
  margin-left: 0.75em;
  color: var(--grey-color);
  transition: visibility 0.3s linear, opacity 0.3s linear;
}

.showSmallHeader {
  opacity: 1;
  position: absolute;
  visibility: visible;
  top: 34px;
}

/* hide small text underneath NavBarLabel's header if in top left corner */
.hideSmallHeader {
  opacity: 0;
  visibility: hidden;
}

/* START OF SHOW/HIDE LINK */
/* desc: show/hide link by using visibility and opacity CSS properties with transition property */
/* ================================================== */
.showLink,
.hideLink {
  transition: visibility 0.3s linear, opacity 0.3s linear;
  pointer-events: none;
}

.showLink {
  opacity: 1;
  visibility: visible;
}

.hideLink {
  opacity: 0;
  visibility: hidden;
}

.showLink > a {
  pointer-events: all;
}

/* ================================================== */
/* END OF SHOW/HIDE LINK */
