.navbar {
  margin-left: 5%;
}

.navbar>ul {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  font-family: 'Slabo 27px', serif;
  height: 100%;
  /* to remove native bullets */
  list-style-type: none;
}

/* Links (anchor tags) */
.navbar>ul>li>a {
  box-shadow: none;
  font-size: 1.6rem;
  letter-spacing: .2rem;
  text-decoration: none;
}

/* have sick animation for hovering */
.navbar>ul>li>a:hover {
  animation: textGradientHover .75s linear infinite;
  background: var(--zune-background-animate);
  /* inspired by https://codepen.io/P1N2O/pen/pyBNzX */
  background-size: 300% 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* First Link */
.navbar>ul>li:first-child>a {
  color: var(--zune-background-orange);
}

/* Middle Link */
.navbar>ul>li:nth-child(2)>a {
  color: var(--zune-background-pink-red);
}

/* Last Link */
.navbar>ul>li:last-child>a {
  color: var(--zune-background-purple-blue);
}

@keyframes textGradientHover {
  0% {
    background-position: 0% 100%;
  }

  100% {
    background-position: 100% 0%;
  }
}