/* position relative to have label move around freely */
.formInputContainer {
  position: relative;
  height: 150px;
}

/* absolute to allow free movement */
.formLabel {
  position: absolute;
  top: 5px;
  transition: 0.2s;
}

.formInput {
  /* remove standard input css */
  background: transparent;
  border: 0;
  border-bottom: 2px solid var(--orange-color);
  color: red;
  outline: 0;
  margin-top: 10px;
  position: absolute;
  width: 50%;
}

/* hide placeholder text so placeholder doesn't conflict with input label */
.formInput::placeholder {
  color: transparent;
}

/* move label up with smooth animation when input is focused */
/* move label up with smooth animation when input has text (fixes if user clicks something outside of targeted form input) */
.formInput:focus ~ .formLabel,
.formInput:not(:placeholder-shown) ~ .formLabel {
  transition: 0.2s;
  top: -10px;
}
