.submitBtn {
  background-color: transparent;
  border: 2px solid var(--white-color);
  color: var(--white-color);
  font-size: 1.4rem;
  font-weight: bold;
  outline: none;
  width: 150px;
  height: 55px;
}

.submitBtn > h4 {
  margin: 0;
}
