.skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.pictureText {
  text-align: center;
  text-decoration: underline;
}

.pic {
  width: 75%; 
  display: block; 
  margin: 0 auto;
}